/Library/AnnotationManager
/Library/AssetImportState
/Library/AssetServerCacheV3
/Library/BuildPlayer.prefs
/Library/BuildSettings.asset
/Library/EditorUserBuildSettings.asset
/Library/EditorUserSettings.asset
/Library/InspectorExpandedItems.asset
/Library/MonoManager.asset
/Library/ScriptMapper
/Library/assetDatabase3
/Library/guidmapper
/Library/metadata/00/00000000000000001000000000000000
/Library/metadata/00/00000000000000002000000000000000
/Library/metadata/00/00000000000000003000000000000000
/Library/metadata/00/00000000000000004000000000000000
/Library/metadata/00/00000000000000004100000000000000
/Library/metadata/00/00000000000000005000000000000000
/Library/metadata/00/00000000000000006000000000000000
/Library/metadata/00/00000000000000007000000000000000
/Library/metadata/00/00000000000000008000000000000000
/Library/metadata/00/00000000000000009000000000000000
/Library/metadata/00/0000000000000000a000000000000000
/Library/metadata/00/0000000000000000b000000000000000
/Library/metadata/00/0000000000000000c000000000000000
/ProjectSettings/AudioManager.asset
/ProjectSettings/DynamicsManager.asset
/ProjectSettings/EditorBuildSettings.asset
/ProjectSettings/EditorSettings.asset
/ProjectSettings/InputManager.asset
/ProjectSettings/NavMeshLayers.asset
/ProjectSettings/NetworkManager.asset
/ProjectSettings/ProjectSettings.asset
/ProjectSettings/QualitySettings.asset
/ProjectSettings/TagManager.asset
/ProjectSettings/TimeManager.asset
/Temp/CaseSensitiveTest
/Temp/UnityLockfile
/Library/FailedAssetImports.txt
/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
/Library/ScriptAssemblies/Assembly-CSharp.dll
/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
/Library/ScriptAssemblies/CompilationCompleted.txt
/Library/metadata/05/05ea3a553ce5c5c4098280c5e5da1657
/Library/metadata/05/05fcedebe7758db45b0cb6a30ec189cc
/Library/metadata/0b/0b10cd4527dc3184baf2ec2810e424c5
/Library/metadata/0b/0b42559abe374874fa28a6ce7ac7495d
/Library/metadata/0e/0ea4d73b667e0b74c9812aa269ed2772
/Library/metadata/13/13968b87a3d67ee4083886370a2e5df1
/Library/metadata/2a/2a42ae9b9075c7d41a415437061ce5ac
/Library/metadata/36/362ad0dcd24465347baff83e8f00dde4
/Library/metadata/3b/3b8cee224cf10aa42a3817102d84f65e
/Library/metadata/41/41b410c1cadb5b94c9c58fa99bdd5e41
/Library/metadata/45/456e782f3b92f3647aeec8021372f827
/Library/metadata/55/553f60186c19c2f478d410c58f3536fe
/Library/metadata/63/63b054926c1222443a847d05d13b9475
/Library/metadata/8c/8c405be6e8d8f18479cb783b10166dfa
/Library/metadata/92/9242d03f38f0008468a45e246446c387
/Library/metadata/9b/9ba7135fb8e55e849aa5802457962da9
/Library/metadata/a1/a1d750bb94096e04cb1cf1ecafb23083
/Library/metadata/a9/a992ae0a8ff927044b6ee3af72c13a58
/Library/metadata/ac/acc9766d0e9e74440a0680ce081df779
/Library/metadata/ad/addd21ec8f0e8864c89cb18fd6bc7518
/Library/metadata/af/afd48edd0e115f14b84e1c3e3ecfc9e3
/Library/metadata/b7/b72718de0c2d5da4ebca5e3268f0f491
/Library/metadata/bc/bc3560d4fea99bf4fb678de0eba96876
/Library/metadata/e0/e026e39daf04a5b4dbdbae550cb9a255
/Library/metadata/f0/f07a3be5ad9a29d479b7698c0002c5b2
/Library/metadata/f1/f1df628e838f01b4388a93fd8a11d0a5
/Library/metadata/fa/fa24088cb793d1e45bc34de013edb174
/Temp/UnityTempFile-8f0f901e70527eb4d88d11750e96e7f0
/Temp/UnityTempFile-cd840c49d35357248aeb25257658f4c3
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor.pidb
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.pidb
/Assets/AssetStoreTools/Editor/AssetStoreTools.dll
/Assets/AssetStoreTools/Editor/AssetStoreToolsExtra.dll
/Assets/AssetStoreTools/Editor/DroidSansMono.ttf
/Assets/AssetStoreTools/Editor/icon.png
/Library/AssetVersioning.db
/Library/metadata/08/08969bd47e8a3c34d9532cbb22a0a683
/Library/metadata/11/11188de2b6632fa4486c470af4b55fa0
/Library/metadata/35/35021dda9bd03434195c7dcd6ad7618f
/Library/metadata/41/41844c716792706449720732c95b2747
/Library/metadata/47/47c3c77b488bde14eac761a5144660ed
/Library/metadata/b0/b0264992f90e27e48beeee54b801c8f2
/Library/metadata/b5/b54e22c1d8166c64098abea232a1fbdd
/Library/metadata/e3/e35231d99115e9e4c8cb29414445831f
/Temp/Export Package/.icon.png
/Temp/Export Package/11188de2b6632fa4486c470af4b55fa0/pathname
/Temp/Export Package/35021dda9bd03434195c7dcd6ad7618f/pathname
/Temp/Export Package/41844c716792706449720732c95b2747/pathname
/Temp/Export Package/41844c716792706449720732c95b2747/preview.png
/Temp/Export Package/47c3c77b488bde14eac761a5144660ed/pathname
/Temp/Export Package/b0264992f90e27e48beeee54b801c8f2/pathname
/Temp/Export Package/e35231d99115e9e4c8cb29414445831f/pathname
/Temp/TarGZ/Asset Store Tools
/Temp/Undo583918eda74af3540897234d4c1259e7
/Temp/Undo62e2091553c64414c8a6a948f0a6e777
/Temp/Undobbabf9e76a12bb3479e8239a9d78bf02
/Temp/Undobe2d70ac0208bd744ba21fb104f76af4
/Temp/Undoc5d03dc6960fc2d47b63e91f1331d319
/Temp/UnityTempFile-00081fb0f68209e4ba4870c6f52be848
/Temp/UnityTempFile-265caed3ff3207c4ea6ea0112dd3ab56
/Temp/UnityTempFile-76da94045f3896a42842992e05bb02c4
/Temp/UnityTempFile-7889f45b84945c641bf9379b57ac8ee5
/Temp/UnityTempFile-87c2d5363e05ef8448e60cc07febe567
/Temp/UnityTempFile-c7d776be79bd1954fa8611f3ac8012f4
/Temp/UnityTempFile-f24c30171025c4c4aab7605940acb4e8
/Temp/UnityTempFile-f4baaa1d443409e49ba9fe7298036c29
/Temp/UnityTempFile-ffa85ebd872c78849baebf5257b466dc
/Temp/__EditModeScene
/UnityProjects-csharp.sln
/UnityProjects.sln
/UnityProjects.userprefs
/.vs/UnityVS.CheatConsole/v14/.suo
/Assets/Docs.meta
/Assets/Docs/Readme.txt.meta
/Assets/Editor.meta
/Assets/Editor/CheatConsolePanel.cs.meta
/Assets/Scenes.meta
/Assets/Scenes/Main.unity.meta
/Assets/Scripts.meta
/Assets/Scripts/Common.meta
/Assets/Scripts/Common/AutoRegister.cs.meta
/Assets/Scripts/Common/ClassEnumerator.cs.meta
/Assets/Scripts/Common/DebugHelper.cs.meta
/Assets/Scripts/Common/LinqS.cs.meta
/Assets/Scripts/Common/MonoSingleton.cs.meta
/Assets/Scripts/Common/ObjectListContext.cs.meta
/Assets/Scripts/Common/Singleton.cs.meta
/Assets/Scripts/Common/StateMachine.cs.meta
/Assets/Scripts/Console.meta
/Assets/Scripts/Console/ArgumentDescription.cs.meta
/Assets/Scripts/Console/CheatCommandCommonEntry.cs.meta
/Assets/Scripts/Console/CheatCommandDescription.cs.meta
/Assets/Scripts/Console/CheatCommandFramework.cs.meta
/Assets/Scripts/Console/CheatCommandNetworking.cs.meta
/Assets/Scripts/Console/CheatCommandRegister.cs.meta
/Assets/Scripts/Console/CheatCommands.cs.meta
/Assets/Scripts/Console/CheatCommandsRepository.cs.meta
/Assets/Scripts/Console/CommandHistory.cs.meta
/Assets/Scripts/Console/CommandParser.cs.meta
/Assets/Scripts/Console/ConsoleViewMobile.cs.meta
/Assets/Scripts/Console/ConsoleViewPC.cs.meta
/Assets/Scripts/Console/ConsoleWindow.cs.meta
/Assets/Scripts/Console/ItemList.cs.meta
/Assets/Scripts/Framework.meta
/Assets/Scripts/Tests.meta
/Assets/Scripts/Tests/CommandTests2.cs.meta
/Assets/Scripts/Tests/CommandsTests.cs.meta
/Assets/UnityVS.meta
/Assets/UnityVS/Editor.meta
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
/Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
/Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
/Library/CurrentLayout.dwlt
/Library/LibraryFormatVersion.txt
/Library/ScriptAssemblies/BuiltinAssemblies.stamp
/Library/ShaderCache/7/71393733f792a3d50c8ba840674efb52.bin
/Library/ShaderCache/8/83cf24ccfdc44f2d37058af4c2b524ea.bin
/Library/UnityAssemblies/UnityEditor.Android.Extensions.dll
/Library/UnityAssemblies/UnityEditor.Android.Extensions.xml
/Library/UnityAssemblies/UnityEditor.BB10.Extensions.dll
/Library/UnityAssemblies/UnityEditor.BB10.Extensions.xml
/Library/UnityAssemblies/UnityEditor.Graphs.dll
/Library/UnityAssemblies/UnityEditor.Graphs.xml
/Library/UnityAssemblies/UnityEditor.LinuxStandalone.Extensions.dll
/Library/UnityAssemblies/UnityEditor.LinuxStandalone.Extensions.xml
/Library/UnityAssemblies/UnityEditor.Metro.Extensions.dll
/Library/UnityAssemblies/UnityEditor.Metro.Extensions.xml
/Library/UnityAssemblies/UnityEditor.Networking.dll
/Library/UnityAssemblies/UnityEditor.Networking.xml
/Library/UnityAssemblies/UnityEditor.OSXStandalone.Extensions.dll
/Library/UnityAssemblies/UnityEditor.OSXStandalone.Extensions.xml
/Library/UnityAssemblies/UnityEditor.UI.dll
/Library/UnityAssemblies/UnityEditor.UI.xml
/Library/UnityAssemblies/UnityEditor.WP8.Extensions.dll
/Library/UnityAssemblies/UnityEditor.WP8.Extensions.xml
/Library/UnityAssemblies/UnityEditor.WebGL.Extensions.dll
/Library/UnityAssemblies/UnityEditor.WebGL.Extensions.xml
/Library/UnityAssemblies/UnityEditor.WindowsStandalone.Extensions.dll
/Library/UnityAssemblies/UnityEditor.WindowsStandalone.Extensions.xml
/Library/UnityAssemblies/UnityEditor.dll
/Library/UnityAssemblies/UnityEditor.iOS.Extensions.Xcode.dll
/Library/UnityAssemblies/UnityEditor.iOS.Extensions.Xcode.xml
/Library/UnityAssemblies/UnityEditor.iOS.Extensions.dll
/Library/UnityAssemblies/UnityEditor.iOS.Extensions.xml
/Library/UnityAssemblies/UnityEditor.xml
/Library/UnityAssemblies/UnityEngine.Analytics.dll
/Library/UnityAssemblies/UnityEngine.Analytics.xml
/Library/UnityAssemblies/UnityEngine.Networking.dll
/Library/UnityAssemblies/UnityEngine.Networking.xml
/Library/UnityAssemblies/UnityEngine.UI.dll
/Library/UnityAssemblies/UnityEngine.UI.xml
/Library/UnityAssemblies/UnityEngine.dll
/Library/UnityAssemblies/UnityEngine.xml
/Library/UnityAssemblies/version.txt
/Library/metadata/00/00000000000000001000000000000000.info
/Library/metadata/00/00000000000000002000000000000000.info
/Library/metadata/00/00000000000000003000000000000000.info
/Library/metadata/00/00000000000000004000000000000000.info
/Library/metadata/00/00000000000000004100000000000000.info
/Library/metadata/00/00000000000000005000000000000000.info
/Library/metadata/00/00000000000000005100000000000000
/Library/metadata/00/00000000000000005100000000000000.info
/Library/metadata/00/00000000000000006000000000000000.info
/Library/metadata/00/00000000000000006100000000000000
/Library/metadata/00/00000000000000006100000000000000.info
/Library/metadata/00/00000000000000007000000000000000.info
/Library/metadata/00/00000000000000008000000000000000.info
/Library/metadata/00/00000000000000009000000000000000.info
/Library/metadata/00/0000000000000000a000000000000000.info
/Library/metadata/00/0000000000000000b000000000000000.info
/Library/metadata/00/0000000000000000c000000000000000.info
/Library/metadata/02/02fe78e962405814a83b8ba6c9471d32
/Library/metadata/02/02fe78e962405814a83b8ba6c9471d32.info
/Library/metadata/07/07aa45b2860d7724eba4768b32c46a99
/Library/metadata/07/07aa45b2860d7724eba4768b32c46a99.info
/Library/metadata/07/07e1c0c3c5117774ca0da2dd26735f31
/Library/metadata/07/07e1c0c3c5117774ca0da2dd26735f31.info
/Library/metadata/0a/0aeacebb58df804468ad56d131c433b0
/Library/metadata/0a/0aeacebb58df804468ad56d131c433b0.info
/Library/metadata/0b/0b35a33c450d7f048aa0f9cbecc25ea2
/Library/metadata/0b/0b35a33c450d7f048aa0f9cbecc25ea2.info
/Library/metadata/1c/1c497f26318a596489afb415c83892c2
/Library/metadata/1c/1c497f26318a596489afb415c83892c2.info
/Library/metadata/23/232a82d545efaf2459d1fc2235802f3b
/Library/metadata/23/232a82d545efaf2459d1fc2235802f3b.info
/Library/metadata/32/32da4bdc0058be847b930a6cf6fb9aff
/Library/metadata/32/32da4bdc0058be847b930a6cf6fb9aff.info
/Library/metadata/35/3574eea2f71f495448c25fa5831a12e6
/Library/metadata/35/3574eea2f71f495448c25fa5831a12e6.info
/Library/metadata/37/37a6bfb2942b7824e8f44c9e63a412de
/Library/metadata/37/37a6bfb2942b7824e8f44c9e63a412de.info
/Library/metadata/37/37c798007ed773e44a098ea8e1aba3c6
/Library/metadata/37/37c798007ed773e44a098ea8e1aba3c6.info
/Library/metadata/37/37f5669f462ff6540b9ee58ed94e21f9
/Library/metadata/37/37f5669f462ff6540b9ee58ed94e21f9.info
/Library/metadata/38/38d405c119fcc7c4e83d4a478a40ff2f
/Library/metadata/38/38d405c119fcc7c4e83d4a478a40ff2f.info
/Library/metadata/49/495dd4669e6ce574ab2b49202688f6a3
/Library/metadata/49/495dd4669e6ce574ab2b49202688f6a3.info
/Library/metadata/4a/4a048ef6f2ea5bc4d9531990382fd77c
/Library/metadata/4a/4a048ef6f2ea5bc4d9531990382fd77c.info
/Library/metadata/4a/4ad02dc83da735c4e8d945332b9202f6
/Library/metadata/4a/4ad02dc83da735c4e8d945332b9202f6.info
/Library/metadata/50/50b92dbdf6ebc4340bcf05909abbad94
/Library/metadata/50/50b92dbdf6ebc4340bcf05909abbad94.info
/Library/metadata/50/50e3996aecebb4f4bb35272b87d830d1
/Library/metadata/50/50e3996aecebb4f4bb35272b87d830d1.info
/Library/metadata/52/52b5c4deff6066a4cbe39d77557fadd4
/Library/metadata/52/52b5c4deff6066a4cbe39d77557fadd4.info
/Library/metadata/5e/5ef61e2cb086ae047a79a0e44bc9f292
/Library/metadata/5e/5ef61e2cb086ae047a79a0e44bc9f292.info
/Library/metadata/5f/5f32cd94baa94578a686d4b9d6b660f7
/Library/metadata/5f/5f32cd94baa94578a686d4b9d6b660f7.info
/Library/metadata/60/606a0319dfa07b04e98f6c215dd8fded
/Library/metadata/60/606a0319dfa07b04e98f6c215dd8fded.info
/Library/metadata/6e/6e71a3e2fb5854e43823a9da25b68e21
/Library/metadata/6e/6e71a3e2fb5854e43823a9da25b68e21.info
/Library/metadata/75/75fbda4755b84a2439046120e8bef499
/Library/metadata/75/75fbda4755b84a2439046120e8bef499.info
/Library/metadata/79/79aecb7278746ba4bbff6d2b561ecd11
/Library/metadata/79/79aecb7278746ba4bbff6d2b561ecd11.info
/Library/metadata/7c/7cbf1dd0a5ef2da4e869021b364f562b
/Library/metadata/7c/7cbf1dd0a5ef2da4e869021b364f562b.info
/Library/metadata/7e/7e2191ed5fe85584288064f3dcef5abd
/Library/metadata/7e/7e2191ed5fe85584288064f3dcef5abd.info
/Library/metadata/7e/7ed3b4bcffe51f148a48f9f4bd3721aa
/Library/metadata/7e/7ed3b4bcffe51f148a48f9f4bd3721aa.info
/Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f
/Library/metadata/80/80a3616ca19596e4da0f10f14d241e9f.info
/Library/metadata/83/83109252ef6c61a48ac1dc57b1111d1c
/Library/metadata/83/83109252ef6c61a48ac1dc57b1111d1c.info
/Library/metadata/87/870353891bb340e2b2a9c8707e7419ba
/Library/metadata/87/870353891bb340e2b2a9c8707e7419ba.info
/Library/metadata/8e/8e66191c692ae5947932377c40ae9911
/Library/metadata/8e/8e66191c692ae5947932377c40ae9911.info
/Library/metadata/93/9367773045e38d04cad356a6c72aba07
/Library/metadata/93/9367773045e38d04cad356a6c72aba07.info
/Library/metadata/98/9871e3e7cf1b6034caffcef451449bcb
/Library/metadata/98/9871e3e7cf1b6034caffcef451449bcb.info
/Library/metadata/ab/ab1bbc85c12ff204aaa4ec554e371e55
/Library/metadata/ab/ab1bbc85c12ff204aaa4ec554e371e55.info
/Library/metadata/b3/b3891d788ca4c7e47b0fa74db8602178
/Library/metadata/b3/b3891d788ca4c7e47b0fa74db8602178.info
/Library/metadata/b4/b4439e38892734744ac6b15b954b3d90
/Library/metadata/b4/b4439e38892734744ac6b15b954b3d90.info
/Library/metadata/ca/cae6ef7eb1bcb354b97cf7ea744f5c17
/Library/metadata/ca/cae6ef7eb1bcb354b97cf7ea744f5c17.info
/Library/metadata/d2/d22f7e9af55043e40bc211da400ea25d
/Library/metadata/d2/d22f7e9af55043e40bc211da400ea25d.info
/Library/metadata/d2/d27db972cd738c44aba10d75a456bfd0
/Library/metadata/d2/d27db972cd738c44aba10d75a456bfd0.info
/Library/metadata/dd/dd26bcb6db34d0642a868425382fe735
/Library/metadata/dd/dd26bcb6db34d0642a868425382fe735.info
/Library/metadata/eb/eb6a20bc97693f04bb7a129c920dc80a
/Library/metadata/eb/eb6a20bc97693f04bb7a129c920dc80a.info
/Library/metadata/ef/efc160270a6f2cb4fa023af541e0c36e
/Library/metadata/ef/efc160270a6f2cb4fa023af541e0c36e.info
/Library/metadata/f5/f5f67c52d1564df4a8936ccd202a3bd8
/Library/metadata/f5/f5f67c52d1564df4a8936ccd202a3bd8.info
/Library/metadata/f8/f8eb02194dd882a4298577b946e3c12e
/Library/metadata/f8/f8eb02194dd882a4298577b946e3c12e.info
/Library/shadercompiler-32bit-1.log
/Library/shadercompiler-64bit-1.log
/ProjectSettings/GraphicsSettings.asset
/ProjectSettings/NavMeshAreas.asset
/ProjectSettings/Physics2DSettings.asset
/ProjectSettings/ProjectVersion.txt
/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
/Temp/TarGZ/archtemp.tar
/Temp/UnityTempFile-3ae43440bcc269e4b8880fe5335c61c8
/Temp/UnityTempFile-62c08813839422044a4a4e3be7186116
/Temp/UnityTempFile-6c7f25d46da6ea6498674af2fbfe0139
/Temp/UnityTempFile-7f7f5692fdd02d04fbe389ecb2ccaf00
/Temp/UnityTempFile-a2579f70c03232a48b7e043c7fcba5f4
/Temp/UnityTempFile-dc7101cca593beb4f94c49a3c13ae879
/Temp/UnityTempFile-fa9c808620ac19e4c93784fd2f117908
/Temp/UnityTempFile-fc58148644ae5d94e933fa0557ffebb5
/Temp/UnityVS_bin/Debug/Assembly-CSharp-Editor.dll
/Temp/UnityVS_bin/Debug/Assembly-CSharp-Editor.pdb
/Temp/UnityVS_bin/Debug/Assembly-CSharp.dll
/Temp/UnityVS_bin/Debug/Assembly-CSharp.pdb
/Temp/UnityVS_bin/Debug/SyntaxTree.VisualStudio.Unity.Bridge.dll
/Temp/UnityVS_bin/Debug/SyntaxTree.VisualStudio.Unity.Messaging.dll
/Temp/UnityVS_bin/Debug/UnityEditor.Android.Extensions.dll
/Temp/UnityVS_bin/Debug/UnityEditor.Android.Extensions.xml
/Temp/UnityVS_bin/Debug/UnityEditor.BB10.Extensions.dll
/Temp/UnityVS_bin/Debug/UnityEditor.BB10.Extensions.xml
/Temp/UnityVS_bin/Debug/UnityEditor.Graphs.dll
/Temp/UnityVS_bin/Debug/UnityEditor.Graphs.xml
/Temp/UnityVS_bin/Debug/UnityEditor.LinuxStandalone.Extensions.dll
/Temp/UnityVS_bin/Debug/UnityEditor.LinuxStandalone.Extensions.xml
/Temp/UnityVS_bin/Debug/UnityEditor.Metro.Extensions.dll
/Temp/UnityVS_bin/Debug/UnityEditor.Metro.Extensions.xml
/Temp/UnityVS_bin/Debug/UnityEditor.Networking.dll
/Temp/UnityVS_bin/Debug/UnityEditor.Networking.xml
/Temp/UnityVS_bin/Debug/UnityEditor.OSXStandalone.Extensions.dll
/Temp/UnityVS_bin/Debug/UnityEditor.OSXStandalone.Extensions.xml
/Temp/UnityVS_bin/Debug/UnityEditor.UI.dll
/Temp/UnityVS_bin/Debug/UnityEditor.UI.xml
/Temp/UnityVS_bin/Debug/UnityEditor.WP8.Extensions.dll
/Temp/UnityVS_bin/Debug/UnityEditor.WP8.Extensions.xml
/Temp/UnityVS_bin/Debug/UnityEditor.WebGL.Extensions.dll
/Temp/UnityVS_bin/Debug/UnityEditor.WebGL.Extensions.xml
/Temp/UnityVS_bin/Debug/UnityEditor.WindowsStandalone.Extensions.dll
/Temp/UnityVS_bin/Debug/UnityEditor.WindowsStandalone.Extensions.xml
/Temp/UnityVS_bin/Debug/UnityEditor.dll
/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.Xcode.dll
/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.Xcode.xml
/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.dll
/Temp/UnityVS_bin/Debug/UnityEditor.iOS.Extensions.xml
/Temp/UnityVS_bin/Debug/UnityEditor.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Analytics.dll
/Temp/UnityVS_bin/Debug/UnityEngine.Analytics.xml
/Temp/UnityVS_bin/Debug/UnityEngine.Networking.dll
/Temp/UnityVS_bin/Debug/UnityEngine.Networking.xml
/Temp/UnityVS_bin/Debug/UnityEngine.UI.dll
/Temp/UnityVS_bin/Debug/UnityEngine.UI.xml
/Temp/UnityVS_bin/Debug/UnityEngine.dll
/Temp/UnityVS_bin/Debug/UnityEngine.xml
/Temp/UnityVS_bin/Debug/UnityVS.VersionSpecific.dll
/Temp/UnityVS_obj/Debug/Assembly-CSharp-Editor.dll
/Temp/UnityVS_obj/Debug/Assembly-CSharp-Editor.pdb
/Temp/UnityVS_obj/Debug/Assembly-CSharp.dll
/Temp/UnityVS_obj/Debug/Assembly-CSharp.pdb
/Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Temp/UnityVS_obj/Debug/UnityVS.CheatConsole.CSharp.Editor.csproj.FileListAbsolute.txt
/Temp/UnityVS_obj/Debug/UnityVS.CheatConsole.CSharp.Editor.csprojResolveAssemblyReference.cache
/Temp/UnityVS_obj/Debug/UnityVS.CheatConsole.CSharp.csproj.FileListAbsolute.txt
/Temp/UnityVS_obj/Debug/UnityVS.CheatConsole.CSharp.csprojResolveAssemblyReference.cache
/UnityVS.CheatConsole.CSharp.Editor.csproj
/UnityVS.CheatConsole.CSharp.csproj
/UnityVS.CheatConsole.sln
